{% extends ':layout:baseLayout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span3">
                {% include ':modulesUsed:navigation.html.twig' %}
                {{ render(controller('EcommerceSiteBundle:Panier:menu')) }}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include '@Utilisateurs/Utilisateurs/ModulesUsed/utilisateursConnectes.html.twig' %}
                {% else %}
                    {% include '@Utilisateurs/Utilisateurs/ModulesUsed/utilisateurs.html.twig' %}
                {% endif %}
            </div>

            <div class="span9">
                {% if produits|length != 0 %}
                    <ul class="thumbnails">
                        {% for produit in produits %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="{{ produit.image.path }}" alt="HolderImage" width="300" height="250">

                                    <div class="caption">
                                        <h4>{{ produit.nom }}</h4>

                                        <p>{{ produit.prix|tva(produit.tva.multiplicate) }} €</p>
                                        <a class="btn btn-primary"
                                           href="{{ path('ecommerce_site_prod_presentation', {'id': produit.id}) }}">
                                            Plus d'infos
                                        </a>
                                        {% if panier[produit.id] is not defined %}
                                            <a class="btn btn-success"
                                               href="{{ path('ecommerce_site_panier_ajouter', {'id': produit.id}) }}">
                                                Ajouter au panier
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="navigation">
                        {{ knp_pagination_render(produits) }}
                    </div>
                {% else %}
                    <p> Aucun produit trouvé. </p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
